.question-section {
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 8px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}
.answer-divider {
    border-top: 1px solid lightgray;
}
button:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: 0.3s all ease-in-out;
}